@charset "utf-8";
@include url("/images/css/base.css");
@include url("/images/css/page.css");
@include url("/images/css/icons.css");
@include url("/images/css/frame.css");

/* ########## page ######### */
body{background-color:#f1f2f7;color: @mcolor_txt;}
input[type=text],textarea,input[type=password]{height: 35px;line-height: 35px;box-shadow: none;}
input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus{border-color: #517397;}
input[type=checkbox],input[type=radio]{position: relative; border-radius: 0;border:1px solid @mcolor;width: 14px;height: 14px;background-color:#fff;cursor: pointer; }
input[type=radio]{border-radius: 100%;}
label{cursor: pointer;}
input[type=checkbox]:checked,input[type=radio]:checked{background-color:#fff;}
input[type=radio]:checked:before{position: absolute;top: 3px;left: 3px;content: '';display: block;width: 6px;height: 6px;border-radius: 100%; background-color:@mcolor; }
input[type=checkbox]:checked{background:url(page/check.png)0 0 no-repeat;background-size: 100%;}
.box{border-color:#F0F0F0;background-color:#FFF;.rc(5);}
.box > h2{height:40px;line-height:40px;color:@mcolor2;border-bottom:1px solid #F0F0F0;background:none;margin:0 10px;padding:0 0;}
.box > h2 t{height:40px;border-bottom:2px solid @mcolor;padding:0 10px;margin-bottom:0;}
.box > .con{padding:15px 20px;}
.box > h2 ti{margin-left: 200px;}
.forms h3 .w60{width:60%;}
.forms h3 .w40{width:40%;}
.forms h3 .w20{width:20%;}

a:hover{text-decoration: none;color: #3c3c3c; }
label{cursor: pointer;}

.zbx-empty{text-align: center;margin-top: 20px;}

.fa{display: inline-block; width: 18px;height: 18px;border:1px solid #000;vertical-align: middle; }
.header{position: fixed;top: 0;left: 0;z-index: 102;width: 100%; padding: 0 10px;height: 60px;background: #fff;border-bottom: 1px solid #f1f2f7;}
.header .sidebar-toggle{float: left;padding-right: 15px;margin-top: 16px;cursor: pointer;font-size: 1.4em;}
.header .logo{display: inline-block;float: left;font-size: 1.2em;line-height: 60px;}
.header .logo span{color: #FF6C60;}
.header .nav{float: left;margin-top: 15px;margin-left: 92px;}
.header .nav li{float: left;}
.header .nav li a{position: relative;display: block;border-radius: 4px;border: 1px solid @mcolor_line;padding:4px 8px;margin-right: 15px;}
.header .nav li a span{position: absolute;right: -10px;top: -10px;z-index: 100;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;background-color: #a9d86e;;border-radius: 10px;}
.header .domain{margin-top: 9px;cursor: pointer;float: right; border-radius: 4px;border: 1px solid @mcolor_line;padding: 5px;line-height: 30px;}
.header .domain > a{display: inline-block;}
.header .domain > a:after{content: '';display: inline-block; border:4px solid transparent;border-top:4px solid @mcolor_txt;}
.header .domain > a em{display: inline-block;width: 30px;height: 30px;vertical-align: middle;background-position:center center;background-size: cover; }
.header .domain >ul{box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);position: absolute;top: 59px;right: 8px;left: auto;min-width: 160px;background-color: #fff;font-size: 14px;z-index: 1000;}
.log-arrow-up{background: url("page/arrow-up.png") no-repeat; width: 20px;height: 11px;position: absolute;right: 6px;top: -10px;}
.header .domain >ul li{float: left;text-align: center;width: 50%;}
.header .domain >ul li:last-child {float: left;text-align: center;width: 100%;background: #a9d96c;border-radius: 0 0 3px 3px;}
.header .domain >ul li:last-child a{color: #fff;}
.header .domain >ul li >a{clear: both;font-weight: 400;line-height: 1.42857143;font-size: 14px;padding: 15px 10px;color: #a4abbb;width: 100%;display: inline-block;white-space: nowrap;}
.header .domain >ul li >a:hover{color: #50c8ea ;}
.header .domain >ul li >a i{margin-right: 5px;}


#header .grade_name{display:inline-block;height:31px;padding:0 5px;border-radius:5px;border:1px solid #f9f9f9;margin-right:5px;}

.top-bar{margin-bottom: 20px;}
.top-bar .middle{margin-left: 80px;margin-right: 6px;}
.top-bar .share{background-color: #FF6C60;margin-right: 10px;}
.top-bar .share:hover,.top-bar .share:focus{background-color: #FF6C60;}

#sider {width: 210px;height: 100%;position: fixed;top: 0;left: -210px;z-index: 100;background: #2a3542;line-height: 35px; overflow-y: auto;overflow-x: hidden;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;}
#sider.show{left:0;}
#sider a{display: block;width: 100%;color: #aeb2b7;overflow: hidden;}
#sider .menu{margin-top: 70px;padding: 0 15px;}
#sider .menu >li{height: 40px;overflow: hidden; margin: 5px 0;padding: 0 10px;border-radius: 4px;-webkit-border-radius: 4px;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;-ms-transition: all 0.4s ease;transition: all 0.4s ease;}
#sider .menu >li:hover,#sider .menu >li.pop{background-color: #35404d;}
#sider .menu >li:hover>a i,#sider .menu >li.pop>a i{color: #FF6C60;}
#sider .menu >li > a i,#sider .menu >li dd a i{width:20px;}
#sider .menu >li.subs > a:after{content: '';float: right;display: inline-block;width: 19px;height: 19px;margin-top: 8px; background:url('page/nav-expand.png')0 0 no-repeat;background-size:100%;  }
#sider .menu >li.subs.pop > a:after{background-position: 0 -19px;}
#sider .menu >li .sub{padding-left: 24px;line-height:28px; }
#sider .menu >li .sub .ismore>a:before{content: '';float: right;display: inline-block;width: 19px;height: 19px;margin-top: 5px; background:url('page/nav-expand.png')0 0 no-repeat;background-size:100%;}
#sider .menu >li .sub .ismore.pop>a:before{background-position: 0 -19px;}
#sider .menu >li .sub .ismore{overflow:hidden;}
#sider .menu >li .sub .sub-2{padding-left: 10px;display: none;}
#sider .menu >li.li_date{position:absolute;bottom:20px;}
#zbx-main{position: fixed; width: 100%;height:100%;top: 0;left: 0;padding: 70px 10px 0 220px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;}
#zbx-main.show{padding-left: 10px;}


.layer{position:fixed;top:0;left:0;width:100%;height:100%;z-index:998;float:left;background:rgba(0,0,0,.3);}
.layer .inners{width: 440px;height: 400px;margin:-240px 0 0 -220px;background: #fff;position: absolute;top: 50%;left: 50%;}
.layer .inners >h2{height: 50px;line-height: 50px;text-align: center;color: #fff;background-color: @mcolor;font-weight: bold;}
.layer .inners .main-list{margin: 25px 0;}
.layer .inners .main-list figure{margin: 10px 0;}
.layer .inners .main-list figure:before,.layer .inners .main-list figure:after{content: '';display: table;clear: both;}
.layer .inners .main-list figure h2{float: left;width: 24%;font-size: 15px;text-align: right;padding-right: 4%;height: 35px;line-height: 35px;}
.layer .inners .main-list figure h3{float: left;width: 72%;font-size: 15px;text-align: right;line-height: 35px;}
.layer .inners .btns{text-align: center;}
.layer .inners .btns a{width: 80px;margin: 0 10px;}

/*iframe tab*/
#zbx-taber{width:100%;overflow:hidden;height:40px;line-height:40px;border-radius:6px 6px 0 0;}
#zbx-taber ul{overflow:hidden;background:@mcolor_tab;}
#zbx-taber li{float:left;color:#fff;padding:0 15px;position:relative;cursor:pointer;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
/*#zbx-taber li:hover{background:@mcolor_tab_pop;}*/
#zbx-taber li:hover a{color:#2A3542;}
#zbx-taber li a{color:#fff;}
#zbx-taber li em.close{cursor:pointer;position:absolute;right:2px;top:0;display:none;height:15px;width:15px;background:url('/images/sprites/closes.png') 0 0 no-repeat;display:none;background-size:cover;}
#zbx-taber li:hover em.close{display:block;}
#zbx-taber li em.close:hover{background-position:0 -15px;}
#zbx-taber li .close{position:absolute;right:2px;top:-12px;display:none;height:15px;width:15px;}
#zbx-taber li .close > i{height:15px;}
#zbx-taber li:hover .close{display:block;}

#zbx-taber li.pop{background:@mcolor_tab_pop;}
#zbx-taber li.pop a{color:#fff;}
#zbx-main-con{height:100%;}

.irow-4 .icol, .irow.row4 .icol{width:23%;margin-right:2%;}

.zbx-user .permissions-outer{width:28px;display:inline-block;text-align:center;}
.zbx-user .permissions{display:inline-block;width:15px;height:15px;background:#ccc;border-radius:100%;}
.zbx-user .permissions.permissions_1{background:@mcolor;}

.zbx-part{margin-bottom: 20px;background-color: #fff;border: 1px solid transparent;border-radius: 4px;padding-bottom: 20px;}
.zbx-part nav{font-size: 1em;line-height: 50px;height: 50px; padding: 0 6px;color: @mcolor_tab;}
.zbx-part nav .icon-home{margin-right: 6px;}
.zbx-part nav .refresh{float:right;margin-right:10px;cursor:pointer;}
.zbx-part nav .refresh:hover{color:#2A3542;}
.zbx-part content{line-height: 40px;}
.zbx-part content .table{line-height: 28px;}
.zbx-form {width: 600px;margin: 0 auto;}
.zbx-form figure{margin: 20px 0;}
.zbx-form figure:before,.zbx-form figure:after{content: '';display: table;clear: both;}
.zbx-form figure h2{float: left;width: 20%;font-size: 14px;text-align: right;padding-right: 20px;}
.zbx-form figure h3{float: left;width: 80%;font-size: 14px;}
.zbx-form .btns{text-align: center;margin-top: 20px;}
.zbx-form .btns a{width: 100px;}

.zbx-part content.zbx-timeline{padding: 10px;}
.zbx-timeline .pl,.zbx-timeline .pr{float: left;width: 100%;overflow:hidden;margin-bottom:10px;}
.zbx-timeline picture{display: inline-block;width: 40px;height: 40px;background:url('page/avatar.png') center center no-repeat;background-size: cover;background-position: center center;border:1px solid #eee;}
.zbx-timeline .pl picture{float: left;}
.zbx-timeline .pr picture{float: right;}
.zbx-timeline .pl .con{float: left;margin-left: 20px;line-height: 22px; max-width: 55%;}
.zbx-timeline .pr .con{float: right;margin-right: 20px;line-height: 22px;max-width: 55%;}
.zbx-timeline .pr .con > h4{text-align: right;}
.zbx-timeline .con p{font-size: 14px;color: #3c3c3c;}
.zbx-timeline .dialog {position: relative;background-color:#F4F4F4;min-height: 60px; padding: 8px;border-radius: 6px;min-width: 100px;}
.zbx-timeline .pr .dialog{background-color: #90d936;}
.zbx-timeline .pl .dialog .arrow-m{border-bottom: 8px solid transparent;border-top: 8px solid transparent;display: block;height: 0;left: -7px;position: absolute; border-right: 8px solid #F4F4F4;top: 13px;width: 0;}
.zbx-timeline .pr .dialog .arrow-m{border-bottom: 8px solid transparent;border-top: 8px solid transparent;display: block;height: 0;right: -7px;position: absolute; border-left: 8px solid #90d936;top: 13px;width: 0;}

.member-create .el-input{width:180px;}

.el-scrollbar .grade_1,td .grade_1{}
.el-scrollbar .grade_2,td .grade_2{padding-left:20px;}
.el-scrollbar .grade_3,td .grade_3{padding-left:40px;}
.el-scrollbar .grade_4,td .grade_4{padding-left:60px;}
.el-scrollbar .grade_5,td .grade_5{padding-left:80px;}
.el-scrollbar .grade_6,td .grade_6{padding-left:100px;}
.el-scrollbar .grade_7,td .grade_7{padding-left:120px;}
.el-scrollbar .grade_8,td .grade_8{padding-left:140px;}


tbody .grade_1 .el-table_1_column_1 .cell{}
tbody .grade_2 .el-table_1_column_1 .cell{padding-left:40px;}
tbody .grade_3 .el-table_1_column_1 .cell{padding-left:60px;}
tbody .grade_4 .el-table_1_column_1 .cell{padding-left:80px;}
tbody .grade_5 .el-table_1_column_1 .cell{padding-left:100px;}
tbody .grade_6 .el-table_1_column_1 .cell{padding-left:120px;}
tbody .grade_7 .el-table_1_column_1 .cell{padding-left:140px;}
tbody .grade_8 .el-table_1_column_1 .cell{padding-left:160px;}

/*element conflict*/
.el-pager li.more{float:initial;}
.el-paging{text-align:right;}
.el-paging .el-pagination{padding:15px 0 0;}

.el-input input[type=text],.el-input textarea,.el-input input[type=password]{height:36px;line-height:36px;box-shadow:none;padding-top:1px;}

/* 分页 */
.xpaging{padding:10px 0px;text-align: center;color: #ccc;}
.xpaging a{display: inline-block;color: @mcolor;display: inline-block;height: 25px; line-height: 25px;  padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.xpaging a:hover{text-decoration: none;border: 1px solid @mcolor;}
.xpaging span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: @mcolor; border: 1px solid @mcolor;border-radius: 4px;vertical-align: middle;}
.xpaging span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
.xpaging .nextPage{position:relative;}
.xpaging em.pagetotal{display:block;position:absolute;width:15px;height:15px;border-radius:100%;font-size:10px;line-height:15px;text-align:center;right:-10px;top:-7px;color:#fff;background:@mcolor;}

/*loading*/
.l-loading .loading{margin: 0 auto;border-radius: 50%;width: 30px;height: 30px;border: 0.25rem solid rgba(158, 158, 158, 0.2);border-top-color: rgba(158, 158, 158, 1);-webkit-animation: spin 1s infinite linear;animation: spin 1s infinite linear;}
.l-loading .loading--double{border-style: double;border-width: .5rem;}

/* ui-mt-confirm */
.ui-mt-confirm{position:fixed;top:0;left:0;width:100%;height:100%;z-index:998;float:left;background:rgba(0,0,0,.3);}
.ui-mt-confirm .inners{width:400px;height:240px;text-align:center;border-radius:6px;background:#fff;position: absolute;left: 50%;top: 20%;z-index:999;margin-left:-200px;box-shadow: 0 6px 20px rgba(0,0,0,.3);}
.ui-mt-confirm .inners em.notice{display:inline-block;width:90px;height:90px;background:url('page/notice.png') center center no-repeat;background-size:cover;margin-top:20px;}
.ui-mt-confirm .inners .cont{width:100%;padding:10px;text-align:center;font-size:16px;}
.ui-mt-confirm .inners h5{position:absolute;bottom:20px;width:100%;text-align:center;}
.ui-mt-confirm .inners h5 a{margin:0 10px;}
/*common*/
input[readonly]{background:#fff;}
/*input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], fieldset[disabled] input, fieldset[disabled] select, fieldset[disabled] textarea*/

/*上传*/
.webuploader-pick{padding: 0 !important;background:transparent !important;}
.webuploader-pick-hover{background:transparent !important;}

.btn.hide1{display:none!important;}
.btn.hide0{display:inline-block!important;}


/*连续请求*/
.info.infos{text-align: center;}

.animated{-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated_1s{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeIn {-webkit-animation-name: fadeIn;animation-name: fadeIn;}
.fadeOut {-webkit-animation-name: fadeOut;animation-name: fadeOut;}
.bounceIn {-webkit-animation-name: bounceIn;animation-name: bounceIn;}
.fadeInDown {-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}
.fadeOutUp {-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp;}